    *{
    margin: 0;
    padding: 0;

}
/* Start nav bar */
.navBar{
    display: flex;
    justify-content: space-around;
    padding: 7px 0px;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0,0.9);
    color: #fff;
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
    color: #fff;
    
    
}
/* End nav bar */
/* Start main page */
.header{
    background-image: url(./fde5dfb8-1127-4031-88a1-c6c708189ecd.jfif);
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    color: #fff;
    
}

.info{

    text-align: center;
}

.overlay{

    background-color: rgba(0, 0, 0,0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-L{
    font-size: 24px;
}

.text-XL{
    font-size: 70px;
    text-transform: uppercase;
}

/* End main page */


/* Start Hello */

.Hello{
    display: flex;
    width: 1170PX;
    height: 440PX;
    padding-top: 100px;
    padding-bottom: 100px;
    gap:100px;
    padding-left: 150px;
    justify-content: space-around;
}

.box{
    width: 360px;
    height: 440px;
    border-style: solid;
    border-width: 8px;
    border-color: #555555;
}


.Hello img{
    width: 360px;
    height: 440px;
    padding-top: 15px;
    padding-left: 15px;

}

.content h2{ 
    padding-bottom: 25px;

}

.content p{ 
    padding-bottom: 50px;
    width: 580px;
    height: 100px;

}

.personal-info{
    display: flex;
    left: 0;
    gap: 100px;
    padding-top: 25px;
}

.personal-info span{
    font-weight: bold;
}

.ul1 {
    flex-direction: column;
    color: black;
}
.ul2{
    flex-direction: column;
    color: black;
}

.btn{

    padding-top: 35px;
}
.btn button{
    align-content: flex-end;
    background: #ff305b none repeat scroll 0 0;
    border-radius: 4px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    padding: 10px 24px;

}
/* End Hello */

/* Start Our services */

.services{
    width: auto;
    height: 390px;
    background-color: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 55px;
}

.services h2{
    color: #555555;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
.services h2::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ff305b;
    position: absolute;
    top: 70%;
    left: 47%;
}

.services h2::after{
    content: "";
    width: 220px;
    height: 2px;
    background-color: #ff305b;
    position: absolute;
    top: 80%;
    right: 43%;
}
.services-info{
    display: flex;
    justify-content: space-evenly;
    padding-left:15px;
    padding-right: 15px;
}
.example{
    width: 255px;
    height: 175px;
    /* background-color: white; */
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.example svg{
    color: #ff305b;
    margin-bottom: 20px;
}

.example h3{
padding-bottom: 30px;
}

/* End Our services */

/* Start Portfolio */

.portfolio{
    width: auto;
    height: 600px;
    padding-top: 100px;
    padding-bottom: 55px;
}

.portfolio h2{
    color: #555555;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    position: relative;
    text-transform: capitalize;
    text-align: center;
}
.portfolio h2::before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #ff305b;
    position: absolute;
    top: 70%;
    left: 47%;
}

.portfolio h2::after{
    content: "";
    width: 220px;
    height: 2px;
    background-color: #ff305b;
    position: absolute;
    top: 80%;
    right: 43%;
}

.hints{
    display: flex;
    justify-content: center;
    width: 1140px;
    height: 35px;
    gap: 50px;
    font-size: larger;
    width: 500px; 
    margin: 0 auto;
    
}

.parent{
    padding-top: 30px;
    padding-bottom: 70px;
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;    
}
    

.photos img{
    width: 360px;
    height: 300px;
    /* background-color: #555555; */
}
/* End Portfolio */