*{
    margin: 0;
    padding: 0;

}


.header{
    background-image: url(./fde5dfb8-1127-4031-88a1-c6c708189ecd.jfif);
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-info{

    text-align: center;
}