    *{
    margin: 0;
    padding: 0;

}

.navBar{
    display: flex;
    justify-content: space-around;
    padding: 7px 0px;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    
    color: #fff;
}
ul{
    list-style: none;
    display: flex;
    gap: 15px;
    color: #fff;
    
    
}
.header{
    background-image: url(./fde5dfb8-1127-4031-88a1-c6c708189ecd.jfif);
    background-size: 100% 100%;
    background-position: center center;
    height: 100vh;
    color: #fff;
    
}

.info{

    text-align: center;
}

.overlay{

    background-color: rgba(0, 0, 0,0.6);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text-L{
    font-size: 24px;
}

.text-XL{
    font-size: 70px;
    text-transform: uppercase;
}